@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

*{
   margin: 0;
   padding: 0;
}



main{
    padding: 10px;
}


#btn{
    background-color: coral;
    border: none;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    
}